extend template

h1 head

block maintext
	script.

		function clickFunc() {	
			window.location.href = '/bars'
		}		
		
		function SelectFunc() {	
			window.location.href = '/displayData?filename=' + $("#listUploaded option:selected").text();
		}

		function uploadClick(){
			var windowObjectReference = window.open('/uploadPage', 'Import', 'resizable=0, width=400, height=300,scrollbars=yes,status=yes');
		}
		function LoadDataClick(){
			window.location.href = '/Uploaded_Files'
		}
		function goThree(){
			window.location.href = '/scatter'
		}


	p

	form(name='testform')
		label Data Search
			br
			input(type='text', name='username', id='user')
			br
			input(type='button', value='Search', onclick='clickFunc()')
	br
	br
	form(name='importData')
		input(type='button', value='Import', onclick='uploadClick()')
	br
	form(name='viewUploadedFiles')
		input(type='button', value='Data Sets', onclick='LoadDataClick()')
	br
	select(id='listUploaded')
		each item in tables
			option(selected=item.table_name) #{item.table_name}
	br
	br
	input(type='button', value='Get Selected', onclick='SelectFunc()')
	br
	br
	br
	br
	br

	//This form take three input and pass them to the node -- Newman
	//1label After submitting values, values will be passed to node. Node will then combine the values into a single Json object and pass it back to the jade.

	form(name='TestJSON', method="POST", action="/")
		label Value1
			br 
			input(type='text', name='text1')
		br
		br
		label Value2
			br 
			input(type='text', name='text2')
		br
		br
		label Value3
			br 
			input(type='text', name='text3')
		br
		input(type='submit', value='GenerateJsonFiles')
		//Get the Json object from node and render it as string -- Newman
		br
		br
		label JsonBackFromNode: #{JSON.stringify(Json)}
	br
	br
	form(name = 'three')
		label goToThree
			br
			input(type = 'button', value = 'Go', onclick = 'goThree()')

	
