doctype html
html
	head
	title= title
	body
block what
	h1.
		showList
	        
	ul
		each user, i in showList
			li
				a= "Plane " + user.manufacturer_model
			p
				a= user.max_speed
			p
				a= user.msrp
			
			
	//p welcome to the other page!
	
	//p= fs.loadTable()
	//a(href='/register') #{fs.loadTable()}
	